<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <style>
        table {border: black 1px solid}
        table tr {border: black 1px solid}
        table tr td {border: black 1px solid}
        table tr th {border: black 1px solid}
    </style>
</head>
<body>
    <h1>전시회 등록</h1>
    <a id="home" href="#"> Go Home </a>
    <form>
        <table>
            <tr>
                <td>글번호</td>
                <td><input type="text" id="showNum"></td>
            </tr>
            <tr>
                <td>부제</td>
                <td><input type="text" id="subTitle"></td>
            </tr>
            <tr>
                <td>제목</td>
                <td><input type="text" id="title"></td>
            </tr>
            <tr>
                <td>기간</td>
                <td><input type="text" id="period"></td>
            </tr>
            <tr>
                <td>시간</td>
                <td><input type="text" id="time"></td>
            </tr>
            <tr>
                <td>장소</td>
                <td><input type="text" id="venue"></td>
            </tr>
            <tr>
                <td>관람등급</td>
                <td><input type="text" id="admission"></td>
            </tr>
            <tr>
                <td>가격</td>
                <td><input type="text" id="price"></td>
            </tr>
            <tr>
                <td>주최</td>
                <td><input type="text" id="host"></td>
            </tr>
            <tr>
                <td>주관</td>
                <td><input type="text" id="management"></td>
            </tr>
            <tr>
                <td>문의</td>
                <td><input type="text" id="inquiry"></td>
            </tr>
            <tr colspan="2">
                <td><button id="add-btn">등록하기</button></td>
            </tr>
        </table>
    </form>
    <script>
        $('#home').click(e => { location.href="/"})
        $('#add-btn').click(e => { 
            e.preventDefault()
            $.ajax({
                url: '/shows',
                type: 'POST',
                data: JSON.stringify({
                    showNum: $('#showNum').val(),
                    subTitle: $('#subTitle').val(),
                    title: $('#title').val(),
                    period: $('#period').val(),
                    time: $('#time').val(),
                    venue: $('#venue').val(),
                    admission: $('#admission').val(),
                    price: $('#price').val(),
                    host: $('#host').val(),
                    management: $('#management').val(),
                    inquiry: $('#inquiry').val()
                }),
                dataType: 'json',
                contentType: 'application/json',
                success: d => {
                    if(d.message === 'SUCCESS'){
                        alert(`등록 성공`)
                        location.href = "/move/shows/list"
                    }else{
                        alert(`등록 실패`)
                        location.href = "/move/shows/add"
                    }
                },
                error: e => {
                    alert(`등록 에러: ${e}`)
                }
            })
        })
   </script>
</body>
</html>